Source: nmc-utils
Priority: optional
Maintainer: Andrew 'Necromant' Andrianov <andrew@ncrmnt.org>
Build-Depends: debhelper (>= 9), libelfg0-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://github.com/RC-MODULE/nmc-utils

Package: libeasynmc-dev
Section: libdevel
Architecture: any
Depends: libeasynmc (= ${binary:Version}), ${misc:Depends}, libelfg0-dev
Description: EasyNMC Interface for Neuromatrix DSP (Development headers)
 Ths package contains libeasynmc headers. 

Package: libeasynmc
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EasyNMC Interface for Neuromatrix DSP (Library)
 Ths package contains libeasynmc shared and static library

Package: libeasynmc-examples
Architecture: any
Depends: libeasynmc (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: EasyNMC Interface for Neuromatrix DSP (Example DSP applications)
 Ths package contains nmctl and nmrun applications

